# Fichiers de build et rapports
target/
*.jar
*.war
*.ear

# Fichiers de configuration IDE
.idea/
*.iml
out/
gen/

# Logs et fichiers système
*.log
.DS_Store
Thumbs.db

# Fichiers de backup
*.bak
*.tmp